# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.PracticeInDex.iml
# Datasource local storage ignored files
/../../../../../../../:\Education\Dex\PracticeInDex\.idea\.idea.PracticeInDex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
